html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  
  #pagina {
    position: relative;
    min-height: 100%;
  }

  .navbar {
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 2%;
    width: 100vw;
    display: flex;
  }
  
  .navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: darkorange;
    text-decoration: none;
    transition: all .3s;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    
    color: black;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  hr{
      height: 1px;
      background-color: black;
  }
  #contenido {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
  }
  
  .Footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100vw;
    align-content: center;
    display: inline-flex;
    flex-direction: row;
}

  .ContenidoFooter{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footerContacto {
      margin-left: 5%;
  }
  #footerCopy{
    margin-left: 35%;
  }
  #footerRedes{
    margin-left: 25%;
  }