html, body {
    margin:0;
    padding:0;
    height:100vh;
  }
  
  #pagina {
    height: 100vh;
  }

  .navbar {
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 2%;
    width: 100vw;
    height: vh;
    display: flex;
  }
  
  .navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: darkorange;
    text-decoration: none;
    transition: all .3s;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100vw;
    z-index: 1;
  }
  
  .subnav-content a {
    
    color: black;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  hr{
      height: 1px;
      background-color: black;
  }

  .search-container {
    display: inline-flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: row;
    margin-left: 35%;
    padding-bottom: 6px;
    padding-left: 6px;
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 22vw;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }

  #contenido {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
  }
  
  .Footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100vw;
    align-content: center;
    display: inline-flex;
    flex-direction: row;
}

  .ContenidoFooter{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footerContacto {
      margin-left: 5%;
  }
  #footerCopy{
    margin-left: 35%;
  }
  #footerRedes{
    margin-left: 25%;
  }