html, body {
  margin:0;
  padding:0;
  height:100vh;
  width: 100vw;
  box-sizing: border-box;
}

#pagina {
  height: 100%;
  width: 100%;
}

.Login-Registro{
  margin-left: 82vw;
  margin-top: -4%;
}

#Form-Login{
  font-size: 16px;
  border: black 2px solid;
  border-radius: 8px;
  margin-top: 2%;
  margin-left: 42%;
  margin-right: 37%;
  padding: 25px;
  width: auto;
  height: auto;
  display: inline-block;
}

.navbar {
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 2%;
  width: 100vw;
  height: vh;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: black;
  text-decoration: none;
  transition: all .3s;
  color: white;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100vw;
  z-index: 1;
}

.subnav-content a {
  
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: white;
}

.subnav:hover .subnav-content {
  display: block;
}
hr{
    height: 1px;
    background-color: black;
}

#hrPropuesta{
    height: 1px;
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
}

#parrafoPD{
  color: rgb(54, 53, 53);
  margin-top: 4%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
}

#parrafoPD3{
  color: rgb(54, 53, 53);
  margin-top: 4%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
}

#parrafoTF{
  color: rgb(54, 53, 53);
  margin-top: 4%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
}

#parrafoTF3{
  color: rgb(54, 53, 53);
  margin-top: 4%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
}
.search-container {
  display: inline-flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  flex-direction: row;
  margin-left: 35%;
  padding-bottom: 6px;
  padding-left: 6px;
}

input[name=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 22vw;
  outline: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-container button:hover {
  background: #ccc;
}

/* Slider imagen 1 */
/* #imagen{
  width: 100vw;
}

#botonAtras{
  position: absolute;
  margin-top: 11%;
  margin-left: 5px;
}

#botonAdelante{
  position: absolute;
  margin-left: -2.5%;
  margin-top: 11%;
}

.arrows{
  background-color: rgba(255, 255, 255, .01);
 width: 20px;
 height: 20px;
 border-color: #000;
 position: absolute;
}

.prev{
 border-bottom: 6px solid;
 border-left: 6px solid;
 border-right: none;
 border-top: none;
 transform: rotate(45deg);
 left: 10px;
}
 
.next{
 border-bottom: 6px solid;
 border-left: 6px solid;
 border-right: none;
 border-top: none;
 transform: rotate(-135deg);
} */



#contenido {
  padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
}

#propuestaDidactica{
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(54, 53, 53);
}

/*Tarjetas giratorias*/

.Flip-cards,.Flip-cards2,.front-face,
.contents,.back-face,.Flip-cards3{
  position: absolute;
}

.Flip-cards{
  margin-top: 12%;
  margin-left: 25%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.Flip-cards2{
  margin-top: 12%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.Flip-cards3{
  margin-top: 12%;
  margin-left: 75%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front-face,.back-face{
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}


.contents{
  left: 0;
  top: 35%;
  width: 100%;
  perspective: 100px;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  margin-top: 20%;
}

.front p{
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

.front p::after{
  content: '';
  display: block;
  left: 0;
  right: 0;
  height: 2px;
  width: 100px;
  background:white;
  margin: 0 auto;
  margin-top: 10px;
}

.front span{
  color: white;
  font-size: 23px;
}

.back-face{
  transform: rotateY(180deg);
  background: linear-gradient(45deg,#043348 0%,#032535 100%);
}

.back{
  color: white;
}
.back h2{
  font-size: 33px;
  padding-bottom: 5px;
}
.back span{
  font-size: 25px;
}

.Flip-cards:hover > .back-face{
  transform: rotateY(0deg);
}

.Flip-cards:hover > .front-face{
  transform: rotateY(-180deg);
}

.Flip-cards2:hover > .back-face{
  transform: rotateY(0deg);
}

.Flip-cards2:hover > .front-face{
  transform: rotateY(-180deg);
}

.Flip-cards3:hover > .back-face{
  transform: rotateY(0deg);
}

.Flip-cards3:hover > .front-face{
  transform: rotateY(-180deg);
}
/*Footer*/

.Footer{
  /*position: fied;*/
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;
  align-content: center;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 0;
}

.ContenidoFooter{
  margin-top: 20px;
  margin-bottom: 20px;
}

#footerContacto {
    margin-left: 5%;
}
#footerCopy{
  margin-left: 35%;
}
#footerRedes{
  margin-left: 25%;
}