html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
  }
  
  #pagina {
    width: 100%;
    height: 100%;
  }

  .navbar {
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 2%;
    width: 100%;
    height: vh;
    display: flex;
  }
  
  .navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all .3s;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    
    color: black;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  hr{
      height: 1px;
      background-color: black;
  }

  .Login-Registro{
    margin-left: 82%;
    margin-top: -4%;
  }

  .search-container {
    display: inline-flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: row;
    margin-left: 35%;
    padding-bottom: 6px;
    padding-left: 6px;
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
    width: 22vw;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }

  #contenido {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    width: 80%;
    height: 50%;
    /* border: 1px solid black; */
  }

  #contenido2 {
    padding-bottom: 50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 28%;
    margin-right: 0%;
    margin-top: 2%;
    width: 50%;
    height: 5%;
    /* border: 1px solid black; */
  }

  #contenido3 {
    padding-bottom: 50px;
    margin-left: 10%;
    /* margin-right: 10%; */
    /* margin-top: 8%; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 80%;
    /* height: 50%; */
    /* border: 1px solid black; */
}

  .navbar1 {
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 2%;
    width: 100%;
    height: vh;
    display: flex;
    margin-right: 100%;
  }
  
  .navbar1 a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #dilema1 {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 18%;
    margin-right: 2%;
    margin-top: 5%;
    width: 8%;
    height: 2%;
    border: 1px solid black;
  }
  #dilema2 {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 18%;
    margin-right: 2%;
    margin-top: 2%;
    width: 8%;
    height: 2%;
    border: 1px solid black;
  }
  #dilema3 {
    padding-bottom:50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 18%;
    margin-right: 2%;
    margin-top: 2%;
    width: 8%;
    height: 2%;
    border: 1px solid black;
  }

  #dilemaSeleccionado {
    padding-bottom: 50px; /* este valor debe ser igual o mayor al alto del pie */
    margin-left: 40%;
    margin-right: 2%;
    margin-top: -18.5%;
    width: 40%;
    height: 50%;
    border: 1px solid black;
  }

  #crearDilema{
    margin-left: 70%;
  }

  #consulta {
    padding-bottom: 50px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 30%;
    /* height: 50%; */
    border: 1px solid black;
  }

  #dilema {
    padding-bottom: 50px;
    margin-left: 53%;
    margin-right: 10%;
    margin-top: -15%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 30%;
    /* height: 50%; */
    border: 1px solid black;
  }

#cedad {
  padding-bottom: 50px;
  margin-left: 30%;
  margin-right: 10%;
  margin-top: -29.6%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 30%;
  /* height: 50%; */
  /* border: 1px solid black; */
}

#cinstituto {
  padding-bottom: 50px;
  margin-left: 60%;
  margin-right: 10%;
  margin-top: -40%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 30%;
  /* height: 50%; */
  /* border: 1px solid black; */
}

#cpregunta {
  padding-bottom: 50px;
  margin-left: 30%;
  margin-right: 10%;
  margin-top: -14.5%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 30%;
  /* height: 50%; */
  /* border: 1px solid black; */
}

  .Footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    align-content: center;
    display: inline-flex;
    flex-direction: row;
}

  .ContenidoFooter{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footerContacto {
      margin-left: 5%;
  }
  #footerCopy{
    margin-left: 35%;
  }
  #footerRedes{
    margin-left: 25%;
  }

  /* .btn-primary {
    color: black;
    background-color: gray;
  }
  
  .btn-primary:hover {
    box-shadow: inset 0 0 0 20rem black;
    color: white;
  }
  
  .btn-primary:active {
    box-shadow: inset 0 0 0 20rem yellowgreen,
      inset 0 3px 4px 0 yellowgreen,
      0 0 1px yellowgreen;
  }
  
  .btn-primary:disabled,
  .btn-primary.is-disabled {
    opacity: .5;
  } */

  /*CSS BOTON*/
  .button-container-1 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px solid;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
  }
  .button-container-1 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
  }
  .button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
  }
  
  .button-container-2 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
  }
  .button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
  }
  .button-container-2 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
  }
  
  .button-container-3 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
  }
  .button-container-3 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    background: #000;
    -webkit-mask: url("https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true");
    mask: url("https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
  }
  .button-container-3 button:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
  }
  
  .mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
    margin-top: 12px;
    overflow: hidden;
  }
  
  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  a {
    color: #00ff95;
  }